
body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000000;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container .cover-image {
	width: auto;
	height: 100vh;
}

.start-button {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.boton-home {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 4%;
	right: 2%;
}

.boton-atras {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 85%;
	left: 2%;
}

.boton-next {
	position: absolute;
	width: 7%;
    height: 10%;
    top: 70%;
    right: 3%;
}

.felciidad {
	position: absolute;
    width: 89.6%;
    /* height: 35.3%; */
    top: 15.1%;
    left: 6.1%;
    cursor: pointer;
}

.felciidad img {
	width: 100%;
	height: 100%;
}

.casilogra {
	position: absolute;
    width: 89.6%;
    /* height: 35.3%; */
    top: 15.1%;
    left: 6.1%;
    cursor: pointer;
}

.casilogra img {
	width: 100%;
	height: 100%;
}


.juego {
	position: absolute;
	width: 46%;
    height: 12%;
    top: 64%;
    left: 2%;
}

.rosadas {
	position: absolute;
    width: 20%;
    height: 35.3%;
    top: 14.7%;
    left: 7.3%;
    cursor: pointer;
}

.rosadas img {
	width: 100%;
	height: 100%;
}

.rosadas1 {
	position: absolute;
	width: 20.3%;
    height: 35.3%;
    top: 14.7%;
    left: 28.6%;
    cursor: pointer;
}

.rosadas1 img {
	width: 100%;
	height: 100%;
}

.rosadas2 {
	position: absolute;
	width: 20.3%;
    height: 35.3%;
	top: 53.4%;
    left: 5.7%;
    cursor: pointer;
}

.rosadas2 img {
	width: 100%;
	height: 100%;
}

.rosadas3 {
	position: absolute;
	width: 20.3%;
    height: 35.3%;
	top: 53.9%;
    left: 27.7%;
    cursor: pointer;
}

.rosadas3 img {
	width: 100%;
	height: 100%;
}

/* Definimos la animación para el resplandor */
@keyframes pulseGlow {
	0% {
		transform: scale(1);
		opacity: 0.7;
	}
	50% {
		transform: scale(1.5);
		opacity: 0.3;
	}
	100% {
		transform: scale(1);
		opacity: 0.7;
	}
}

/* Responsive */
@media (max-width: 1365px) and (min-height: 768px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: auto;
		height: 100vh;
	}
}

@media (max-height: 767px) {
	.container {
		width: auto;
		height: 100vh;
	}
}

@media (min-height: 625px) and (max-height: 1280px) and (max-width: 1024px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}
}

@media (max-height: 624px) and (max-width: 767px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}
}
#quantity, #quantity-bad {
	position: absolute;
    top: 31%;
    right: 30%;
	font-family: 'VoltaModernDisplay-75Bold';
    color: #022069;
}

.next-bad, .next {
	position: absolute;
	cursor: pointer;
    top: 74%;
    right: 0%;
    width: 5.6%;
    height: 12.2%;
    border-radius: 100%;
}