@font-face {
	font-family: 'VoltaModernDisplay-75Bold';
	src: url('../imagenes/VoltaModernDisplay-75Bold.otf');
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000000;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container .cover-image {
	width: auto;
	height: 100vh;
}

.start-button {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.boton-home {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 4%;
	right: 2%;
}

.boton-atras {
	position: absolute;
	width: 6%;
	height: 10%;
	top: 85%;
	left: 2%;
}

.boton-next {
	position: absolute;
	width: 16%;
	height: 10%;
	top: 76%;
	right: 56%;
}

.juego {
	position: absolute;
	width: 46%;
	height: 12%;
	top: 64%;
	left: 2%;
}

/* modal  */
.openModal {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 19%;
	height: 35%;
	left: 7.6%;
	top: 34.3%;
	z-index: 100;
	cursor: pointer;
	border-radius: 107px;
}

.modal img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 73%;
    right: 9.4%;
	cursor: pointer;
}

/* modal  */
.openModal1 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 19%;
	height: 35%;
	left: 29.9%;
	top: 34.3%;
	z-index: 100;
	cursor: pointer;
	border-radius: 107px;
}

.modal1 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal1 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 73%;
    right: 9.4%;
	cursor: pointer;
}

/* modal  */
.openModal2 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 19%;
	height: 35%;
	left: 51.4%;
	top: 34.3%;
	z-index: 100;
	cursor: pointer;
	border-radius: 107px;
}

.modal2 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal2 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 73%;
    right: 9.4%;
	cursor: pointer;
}

/* modal  */
.openModal3 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 19%;
	height: 35%;
	right: 8.2%;
	top: 34.3%;
	z-index: 100;
	cursor: pointer;
	border-radius: 107px;
}

.modal3 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal3 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 73%;
    right: 9.4%;
	cursor: pointer;
}

/* error 1 */
.modalerror1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}

.modalerror1 img {
	width: 100%;
	height: 100%;
}

.closeModalerror1 {
	position: absolute;
	width: 7%;
	height: 12%;
	top: 15%;
	right: 10%;
	z-index: 100;
}
/* error 1 */


/* persnajes */
.per-1 {
	position: absolute;
    width: 99.8%;
    height: 89.1%;
    top: -2.3%;
    left: 6%;
    cursor: pointer;
}

.per-1 img {
	width: 100%;
	height: 100%;
}

.per-2 {
	position: absolute;
	width: 92.1%;
    height: 80.2%;
    top: 17.3%;
    left: 6%;
	cursor: pointer;
	z-index: 10;
}

.per-2 img {
	width: 100%;
	height: 100%;
}
/* persnajes */

/* persnajes */
.per-3 {
	position: absolute;
    width: 90.5%;
    height: 81.5%;
    top: 18.7%;
    left: 0.1%;
    cursor: pointer;
}

.per-3 img {
	width: 100%;
	height: 100%;
}

.per-4 {
	position: absolute;
	width: 92.3%;
    height: 74.2%;
    top: 20%;
    left: 8.4%;
	cursor: pointer;
	z-index: 10;
}

.per-4 img {
	width: 100%;
	height: 100%;
}
/* persnajes */

/* persnajes */
.per-5 {
	position: absolute;
	width: 82.7%;
    height: 65.3%;
    top: 18.7%;
    left: 7.7%;
	cursor: pointer;
}

.per-5 img {
	width: 100%;
	height: 100%;
}

.per-6 {
	position: absolute;
	width: 86.4%;
    height: 77.2%;
    top: 20.6%;
    left: 7.2%;
	cursor: pointer;
	z-index: 10;
}

.per-6 img {
	width: 100%;
	height: 100%;
}
/* persnajes */

/* persnajes */
.per-7 {
	position: absolute;
	width: 82.8%;
    height: 65.3%;
    top: 18.7%;
    left: 7.7%;
	cursor: pointer;
}

.per-7 img {
	width: 100%;
	height: 100%;
}

.per-8 {
	position: absolute;
	width: 90.2%;
    height: 73.6%;
    top: 20.6%;
    left: 7.9%;
	cursor: pointer;
	z-index: 10;
}

.per-8 img {
	width: 100%;
	height: 100%;
}
/* persnajes */


.rosadas {
	position: absolute;
	width: 20%;
	height: 35.3%;
	top: 34.7%;
	left: 7.3%;
	cursor: pointer;
}

.rosadas img {
	width: 100%;
	height: 100%;
}

.rosadas1 {
	position: absolute;
	width: 20.4%;
	height: 35.3%;
	top: 34.7%;
	left: 28.7%;
	cursor: pointer;
}

.rosadas1 img {
	width: 100%;
	height: 100%;
}

.rosadas2 {
	position: absolute;
	width: 20.4%;
	height: 35.3%;
	top: 34.3%;
	right: 28.7%;
	cursor: pointer;
}

.rosadas2 img {
	width: 100%;
	height: 100%;
}

.rosadas3 {
	position: absolute;
	width: 20.4%;
	height: 35.3%;
	top: 34.3%;
	right: 7.2%;
	cursor: pointer;
}

.rosadas3 img {
	width: 100%;
	height: 100%;
}

/* Definimos la animación para el resplandor */
@keyframes pulseGlow {
	0% {
		transform: scale(1);
		opacity: 0.7;
	}
	50% {
		transform: scale(1.5);
		opacity: 0.3;
	}
	100% {
		transform: scale(1);
		opacity: 0.7;
	}
}

/* Responsive */
@media (max-width: 1365px) and (min-height: 768px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: auto;
		height: 100vh;
	}
}

@media (max-height: 767px) {
	.container {
		width: auto;
		height: 100vh;
	}
}

@media (min-height: 625px) and (max-height: 1280px) and (max-width: 1024px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}
}

@media (max-height: 624px) and (max-width: 767px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}
}

#quantity-number {
	position: absolute;
    top: 81.3%;
    left: 53.7%;
	font-family: 'VoltaModernDisplay-75Bold';
	color: white;
}

#input-response-1, #input-response-2, #input-response-3, #input-response-4 {
	position: absolute;
    top: 78.2%;
    left: 68.9%;
    z-index: 1;
    width: 4.7%;
    height: 3%;
    border: none;
	z-index: 10000000000;
    text-align: center;
	color: #022069;
    font-weight: 700;
}

#input-response-1:focus,
#input-response-1:focus-visible,
#input-response-1:focus-within,
#input-response-2:focus,
#input-response-2:focus-visible,
#input-response-2:focus-within,
#input-response-3:focus,
#input-response-3:focus-visible,
#input-response-3:focus-within,
#input-response-4:focus,
#input-response-4:focus-visible,
#input-response-4:focus-within {
	outline: none;
}

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
	-webkit-appearance: none; /* Safari y Chrome */
	appearance: none; /* Otros navegadores */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#next-button-1, #next-button-2, #next-button-3, #next-button-4 {
	position: absolute;
    top: 73%;
    right: 8%;
    width: 103px;
    height: 100px;
    z-index: 1;
    border-radius: 100%;
    cursor: pointer;
}

#next-person-1, #next-person-2, #next-person-3, #next-person-4 {
	position: absolute;
    top: 55%;
    right: 7%;
    width: 117px;
    height: 120px;
    z-index: 100000000;
    border-radius: 100%;
    cursor: pointer;
}